* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}
.todo {
  display: flex;
  justify-content: center;
}
.input-wrapper {
  position: relative;
  margin-right: 30px;
}
.todo-text {
  width: 300px;
  height: 54px;
  padding-left: 15px;
  border: 2px solid rgba(111, 0, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 14px 2px rgb(145 52 167 / 20%);
}
.todo-text:hover {
  box-shadow: 0px 0px 14px 6px rgba(145, 52, 167, 0.2);
}
.todo-text:focus {
  outline: none;
  box-shadow: 0px 0px 14px 6px rgba(145, 52, 167, 0.2);
}
.todo-add-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 50px;
  height: 50px;
  padding: 1px 1px 5px;
  color: white;
  background-color: rgba(111, 0, 255, 0.2);
  font-size: 30px;
  border: none;
  box-shadow: 0px 0px 14px 2px rgb(145 52 167 / 20%);
  border-radius: 3px;
}
.todo-add-button:hover {
  cursor: pointer;
  outline: none;
  background-color: none;
  box-shadow: 0px 0px 14px 6px rgba(145, 52, 167, 0.2);
}
.todo-add-button:active {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}
.todo-type-button {
  width: 125px;
  height: 55px;
  padding-bottom: 5px;
  background-color: rgba(111, 0, 255, 0.2);
  text-align: center;
  border: none;
  appearance: none;
  box-shadow: 0px 0px 14px 3px rgba(145, 52, 167, 0.2);
  border-radius: 5px;
}
.todo-type-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 14px 6px rgba(145, 52, 167, 0.2);
}
.todo-type-button:focus {
  box-shadow: 0px 0px 14px 6px rgba(145, 52, 167, 0.2);
  outline: none;
  border: 3px solid rgba(111, 0, 255, 0.2);
}
.todo-list {
  width: 450px;
  margin: 20px auto;
  padding: 0;
  box-shadow: none;
}
.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 2px rgba(145, 52, 167, 0.2);
}
.todo-list-item:hover {
  box-shadow: 0px 0px 14px 6px rgba(145, 52, 167, 0.2);
}
.todo-list-item span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border-radius: 5px;
}
.todo-list-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.todo-list-input {
  display: none;
}
span::before {
  flex-shrink:0;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background-color: #ffffff;
  border: 2px solid rgba(111, 0, 255, 0.2);
  border-radius: 5px;
}
label:hover:before {
  box-shadow: 0px 0px 14px 6px rgba(145, 52, 167, 0.2);
}
.todo-list-input:checked + span::before {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
  /* background-image: url("check-white.svg"); */
  background-repeat: no-repeat;
  background-position: center;
}
.todo-list-input:not(:checked):hover + span::before,
.todo-list-input:not(:checked):focus + span::before {
  box-shadow: 0px 0px 14px 6px rgba(145, 52, 167, 0.2);
}
.icons {
  margin-right: 20px;
}
.icons .done {
  display: none;
}
i:last-child {
  margin-left: 10px;
}
i {
  color: rgba(111, 0, 255, 0.2);
}
i:hover:first-child {
  border-radius: 50%;
}
i:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}
